body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("/assets/background.png");
    background-size: cover;
}

.playground{
    width: auto;
    height: 60vh;
    /* border: 2px solid #000; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:5px;
    padding: none;
    margin: 0 auto;
    background-color: rgba(112, 90, 43,0.5);
    padding: 20px;
    border-radius: 5%;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
    
}
.img{
    margin: 0;
    padding: 0;
}
.img_0_0{
    grid-column: 1;
    grid-row: 1;
    background-image: url("/assets/narcos_img_0_0.png");
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_0_1{
    grid-column: 2;
    grid-row: 1;
    background-image: url("/assets/narcos_img_0_1.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_0_2{
    grid-column: 3;
    grid-row: 1;
    background-image: url("/assets/narcos_img_0_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_1_0{
    grid-column: 4;
    grid-row: 1;
    background-image: url("/assets/narcos_img_1_0.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_1_1{
    grid-column: 1;
    grid-row: 2;
    background-image: url("/assets/narcos_img_1_1.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_1_2{
    grid-column: 2;
    grid-row: 2;
    background-image: url("/assets/narcos_img_1_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_2_0{
    grid-column: 3;
    grid-row: 2;
    background-image: url("/assets/narcos_img_2_0.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_2_1{
    grid-column: 4;
    grid-row: 2;
    background-image: url("/assets/narcos_img_2_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_2_2{
    grid-column: 1;
    grid-row: 3;
    background-image: url("/assets/narcos_img_2_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_3_0{
    grid-column: 2;
    grid-row: 3;
    background-image: url("/assets/narcos_img_0_0.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_3_1{
    grid-column: 3;
    grid-row: 3;
    background-image: url("/assets/narcos_img_0_1.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_3_2{
    grid-column: 4;
    grid-row: 3;
    background-image: url("/assets/narcos_img_0_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_4_0{
    grid-column: 1;
    grid-row: 4;
    background-image: url("/assets/narcos_img_1_0.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_4_1{
    grid-column: 2;
    grid-row: 4;
    background-image: url("/assets/narcos_img_1_1.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_4_2{
    grid-column: 3;
    grid-row: 4;
    background-image: url("/assets/narcos_img_1_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_5_0{
    grid-column: 4;
    grid-row: 4;
    background-image: url("/assets/narcos_img_2_0.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card_wrapper{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}
.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    aspect-ratio: 1/1;
}
.card_front, .card_back{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10%;
}

.card_front{
    
    width: 100%;
    height: 100%; 
    background-size: cover;
    
}

.card_back{
    background-color: rgb(79, 56, 22);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(218, 180, 107);
    h1{
        font-size: 3rem;
        font-family: "Roboto", sans-serif;
        text-align: center;
    }
}

.hidden{
    transform: rotateY(180deg);
}
.bottom_pane{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(112, 90, 43,0.5);
    padding: 20px;
    border-radius: 5%;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: rgb(79, 56, 22);
}

.excluded{
    opacity: 0.5;
    transition: opacity 1s ease;
    pointer-events: none;
}
.hide_cards{
    /* transform: translate(0, -150%); */
    opacity: 0;
    transition: opacity 2s ease;
}
.saving_header{
    grid-row:1;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: rgb(79, 56, 22);
}
form{
    margin: 0;
    align-self: center;
    text-align: center;
    margin-top: 10%;
    color: rgb(79, 56, 22);
    font-family: "Roboto", sans-serif;
    text-align: center;
}
#username{
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: transparent;
    border: rgb(79, 56, 22) 1px solid;
    color: rgb(79, 56, 22);
}
#username:focus{
    border: rgb(79, 56, 22) 2px solid;
    outline: none;
}
.submit_button{
    width: 80px;
    height: 35px;
    align-self: center;
    justify-self: center;
    color: rgb(218, 180, 107);
    background-color: rgb(79, 56, 22);
    border-radius: 8px;
    border: none;
}
.submit_button:hover{
    border: rgb(218, 180, 107) 2px solid;
}
.submit_pane{
    grid-template-rows: repeat(3, 1fr);
    width: 40vw;
    height: 40vh;

}
@media (max-width: 600px) {
    .submit_pane{
    grid-template-rows: repeat(3, 1fr);
    width: 70vw;
    height: 40vh;
    font-size: 1rem;
    }
    .saving_header{
    text-align: center;
    font-size: 1.5rem;
    }
    form{
    grid-row:2;
    grid-column: 1/-1;
    column-gap: 0;
    margin: 0;
    align-self: center;
    text-align: center;
    }
    .playground{
        height: 35vh;
    }
    .card_back{
    h1{
        font-size: 1rem;
    }
}
}
.submit_pane_container{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    transition: opacity 2s ease 2s;
    width:auto;
    height: auto
}
.timer{
    width: auto;
    height: 10vh;
    display: flex;
    margin: 0 auto;
    background-color: rgba(112, 90, 43,0.5);
    padding: 10px;
    border-radius: 5%;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: rgb(79, 56, 22);
}

#shuffleButton, #hideButton, #logScore{
    width: 100px;
    height: 40px;
    background-color: rgb(79, 56, 22);
    color: rgb(218, 180, 107);
    border-radius: 8px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin: 5px
}
#shuffleButton:hover, #hideButton:hover, #logScore:hover{
    border: rgb(218, 180, 107) 2px solid;
}
.sideBar{
    position:absolute;
    top: 5%;
    left: 5%;
    width: auto;
    height: auto;
    background-color: rgba(112, 90, 43,0.5);
    padding: 15px;
    border-radius: 5%;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    color: rgb(79, 56, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media (max-width: 1250px) {
   .sideBar{
    position: inherit;
   }
   body{
    overflow: scroll;
   }
}