body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("/assets/background.png");
    background-size: cover;
}

.playground{
    width: 40vw;
    height: auto;
    /* border: 2px solid #000; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:5px;
    padding: none;
    margin: 0 auto;
    background-color: rgba(112, 90, 43,0.5);
    padding: 20px;
    border-radius: 5%;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
    
}
.img{
    margin: 0;
    padding: 0;
}
.img_0_0{
    grid-column: 1;
    grid-row: 1;
    background-image: url("/assets/narcos_img_0_0.png");
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_0_1{
    grid-column: 2;
    grid-row: 1;
    background-image: url("/assets/narcos_img_0_1.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_0_2{
    grid-column: 3;
    grid-row: 1;
    background-image: url("/assets/narcos_img_0_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_1_0{
    grid-column: 4;
    grid-row: 1;
    background-image: url("/assets/narcos_img_1_0.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_1_1{
    grid-column: 1;
    grid-row: 2;
    background-image: url("/assets/narcos_img_1_1.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_1_2{
    grid-column: 2;
    grid-row: 2;
    background-image: url("/assets/narcos_img_1_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_2_0{
    grid-column: 3;
    grid-row: 2;
    background-image: url("/assets/narcos_img_2_0.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_2_1{
    grid-column: 4;
    grid-row: 2;
    background-image: url("/assets/narcos_img_2_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_2_2{
    grid-column: 1;
    grid-row: 3;
    background-image: url("/assets/narcos_img_2_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_3_0{
    grid-column: 2;
    grid-row: 3;
    background-image: url("/assets/narcos_img_0_0.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_3_1{
    grid-column: 3;
    grid-row: 3;
    background-image: url("/assets/narcos_img_0_1.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_3_2{
    grid-column: 4;
    grid-row: 3;
    background-image: url("/assets/narcos_img_0_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_4_0{
    grid-column: 1;
    grid-row: 4;
    background-image: url("/assets/narcos_img_1_0.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_4_1{
    grid-column: 2;
    grid-row: 4;
    background-image: url("/assets/narcos_img_1_1.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_4_2{
    grid-column: 3;
    grid-row: 4;
    background-image: url("/assets/narcos_img_1_2.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img_5_0{
    grid-column: 4;
    grid-row: 4;
    background-image: url("/assets/narcos_img_2_0.png");
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card_wrapper{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}
.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    aspect-ratio: 1/1;
}
.card_front, .card_back{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10%;
}

.card_front{
    
    width: 100%;
    height: 100%; 
    background-size: cover;
    
}

.card_back{
    background-color: rgb(79, 56, 22);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(218, 180, 107);
    h1{
        font-size: 3rem;
        font-family: "Roboto", sans-serif;
        text-align: center;
    }
}

.hidden{
    transform: rotateY(180deg);
}
.bottom_pane{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.excluded{
    opacity: 0.5;
    transition: opacity 1s ease;
    pointer-events: none;
}